/* Google Fonts - Montesrrat, Roboto & Rubik */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.goog-te-gadget {
  color: transparent !important;
}
/* Change the text color */
select.goog-te-combo {
  color: #000 !important;
  border: 1px solid #007bff;
  padding: 5px;
  border-radius: 4px;
}

/* Remove the outline on focus */
select.goog-te-combo:focus {
  outline: none;
  border: 1px solid #007bff;
}
#google_translate_element a {
  display: none !important;
}
